{% extends "layout.html" %}
{% block title %}MapR DSR Manager{% endblock %}
{% block username %}
  <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{session.username}}
  </span>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/logout">Logout</a>
    <a class="dropdown-item" id="reset_button" href="#">Reset</a>
  </div>
{% endblock %}
{% block content %}
  {% for container in active_containers %}
  <div>
    <a class="container_link" target="_blank" data-port="{{container.port}}" onclick="javascript:event.target.port={{container.port}}">{{container._id}}</a>
    <span class="container_status" data-container="{{container._id}}">{{container.status}}</span> 
    {% if container.status == 'stopped' %}
      <button class="start_container" data-container="{{container._is}}">Start</button>
      <button class="delete_container" data-container="{{container._id}}">Delete</button>
    {% else %}
      <button class="stop_container" data-container="{{container._id}}">Stop</button>
    {% endif %}
  </div>
  {% endfor %}

  <p><p><p>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#new_container_modal">Launch new DSR</button>

  <!-- Modal -->
  <div id="new_container_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Launch new DSR instance</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            Please provide new DSR credentials :<p>
            Username :<input type="username" id="container_username" placeholder="Username"><p>
            Password : <input type="password" id="container_password" placeholder="Password"><p>
            <hr>
            <button id="new_container_button">Launch</button>
            <div id="new_container_loader" style="display:none">
              <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
