<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='launcher.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
  {% block head %}
  {% endblock %}
  </head>
  <body>
    <div class="container-fluid bg">
      <div id="header" class="row">
        <div id="header_text" class="col-md-9">
          <div class="text-right align-middle">MapR DataScience Refinery Manager</div>
        </div>
        <div class="col-md-3" id="user_text">
          <i class="fa fa-user" aria-hidden="true"></i>{% block username %}{% endblock %}
        </div>
      </div>
      <div class="row" id="content">
        {% block content %}
        {% endblock %}
      </div>
      <div class="row" id="footer">
        {% block footer %}
        {% endblock %}
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='launcher.js')}}"></script>
</html>